.btn-container{
    text-align:center;
    margin-top: 8cm;
    
}

.addbtn{
   
    height: 35px;
    width: 5cm;
    font-weight: bold;
    font-size: larger;
    margin: 1cm;
}

.viewbtn{
    height: 35px;
    width: 5cm;
    font-weight: bold;
    font-size: larger;
   
}